<h1>Help</h1>
<p>
  Get help on Juvenile Risk Assessment at the
  <a href="http://www.koansolutions.net">JRA help page</a>.
  To get help on the Rails code, see it on
  <a href="https://github.com/asimy/jra">Github</a>.
</p>
