<% title "Home" %>
<h1>Home</h1>
<p>
  This is the home page for the Juvenile Risk Assessment. It doesn't really do anything yet.
</p>
<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round"  %>